[submodule "lib/c"]
	branch = master
	path = c
	url = git@github.com:mojo-runtime/lib-c.git
[submodule "lib/debug"]
	branch = master
	path = debug
	url = git@github.com:mojo-runtime/lib-debug.git
[submodule "lib/feature"]
	branch = master
	path = feature
	url = git@github.com:mojo-runtime/lib-feature.git
[submodule "lib/freebsd"]
	branch = master
	path = freebsd
	url = git@github.com:mojo-runtime/lib-freebsd.git
[submodule "lib/linux"]
	branch = master
	path = linux
	url = git@github.com:mojo-runtime/lib-linux.git
[submodule "lib/os"]
	branch = master
	path = os
	url = git@github.com:mojo-runtime/lib-os.git
[submodule "lib/std"]
	branch = master
	path = std
	url = git@github.com:mojo-runtime/lib-std.git
