[submodule "has"]
	path = has
	url = git@github.com:blake-sheridan/include-has.git
[submodule "c"]
	path = c
	url = git@github.com:blake-sheridan/include-c.git
[submodule "c++/std"]
	path = c++/std
	url = git@github.com:blake-sheridan/include-std.git
[submodule "c++/linux"]
	path = c++/linux
	url = git@github.com:blake-sheridan/include-linux.git
